.pages {

		width: 100%;
		height: 100%;
		padding: 90px 12px 30px 12px;
		box-sizing: border-box;
		overflow: auto;
		position: relative;
		background: #0CAAF0;
	}

	.header_box {
		position: fixed;
		display: flex;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 42px;
		padding: 10px 0px 0px 0px;
		z-index: 10;
		background: #FFFFFF;
		color: #00000;
		box-sizing: border-box;
	}

	.header_back {
		flex: 0 38rpx;
		padding-left: 16rpx;
	}

	.header_back img {
		width: 100%;
		height: auto;
		vertical-align: middle;
		transform: rotate(180deg);
	}

	.header_all {
		flex: 1;
		height: 30px;
		text-align: center;
	}

	.header_allimg {
		margin-left: 10px;
		width: 15px;
		height: auto;
		transform: rotate(270deg);
		vertical-align: middle;
	}

	.header_allimgs {
		margin-left: 10px;
		width: 15px;
		height: auto;
		transform: rotate(90deg);
		vertical-align: middle;
	}

	.header_search {
		flex: 0 2rem;
		padding: 0 16rpx;
	}

	.allcusList {
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, .2);
		position: fixed;
		top: 40px;
		left: 0px;
		z-index: 10;

	}

	.allcusList_box {
		width: 100%;
		height: auto;
		background: #FFFFFF;
	}

	.allcusList_main {
		padding: 0px 30px;
		box-sizing: border-box;
		width: 100%;
		height: auto;
		line-height: 35px;
		border-bottom: 1px solid #F2F2F2;
		display: flex;
		justify-content: space-between;
	}

	.allcusList_main:last-child {
		border: none
	}

	.activeallcusList_main {
		color: #0CAAF0;
	}

	.topmuie {
		background: #FFFFFF;
		width: 100%;
		height: 80px;
		padding-top: 40px;
		box-sizing: border-box;
		position: fixed;
		top: 0px;
		left: 0px;
		border-bottom: 1px solid #F4F4F4;
		z-index: 4;
	}

	/* 筛选弹框 */
	.topmuieFixed {
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, .3);
		position: fixed;
		top: 80px;
		left: 0;
		z-index: 4;
	}

	.topmuieFixed_main {
		width: 100%;
		height: auto;
		background: #FFFFFF;
	}

	.topmuieFixed_box {
		width: 100%;
		height: auto;
		clear: both;
		overflow: hidden;
	}

	.searchNavBar {
		width: 50%;
		height: 280px;
		overflow: scroll;
		float: left;
		background: #F8F8F8;
		display: flex;
		flex-direction: column;
		align-items: left;
		box-sizing: border-box;
	}

	.searchNavBar text {
		line-height: 40px;
		padding-left: 10px;
	}

	.searchNavBartext {
		line-height: 30px;
		background: #FFFFFF;
		color: #0CAAF0;
	}

	.topmuieFixed_right {
		width: 50%;
		height: 280px;
		overflow: scroll;
		float: right;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.topmuieFixed_right text {
		line-height: 30px;
		font-size: 10px;
	}

	.searchItemsFields {
		color: #0CAAF0;
	}

	.clocedtime {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-between;
	}

	.topmuieFixed_setting {
		width: 100%;
		height: 40px;
		background: #FFFFFF;
		border-top: 1px #f2f2ff2 solid;
		font-size: 16px;
		display: flex;
		justify-content: space-evenly;
		line-height: 40px;
		box-sizing: border-box;
	}

	.topmuieFixed_setting text {
		width: 50%;
		display: inline-block;
		text-align: center;
	}

	.topmuieFixed_setting text:first-child {
		border-right: 1px solid #F2F2F2;

	}

	.screen {
		width: 50%;
		height: 40px;
		display: inline-block;
		text-align: center;
		line-height: 45px;
		text-align: center;
		float: left;
	}

	.screen_allimg {
		margin-left: 10px;
		width: 15px;
		height: auto;
		transform: rotate(90deg);
		vertical-align: middle;
	}

	.screen_allimgs {
		margin-left: 10px;
		width: 15px;
		height: auto;
		transform: rotate(270deg);
		vertical-align: middle;
	}

	.seek {
		float: right;
		text-align: center;
		width: 100%;
		height: 40px;
		line-height: 45px;
		text-align: center;
		display: inline-block;
		box-sizing: border-box;
		border-top: 3px solid #0CAAF0;
	}

	.seek img {
		padding-right: 12px;
		width: 38px;
		height: 38px;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		float: right;
	}

	.seek input {
		height: 40px;
		width: 80%;
		float: left;
		text-align: left;
		padding-left: 12px;
	}

	.msg {
		width: 100%;
		height: auto;
		border-radius: 5px;
		background: #fff;
		padding: 0px 20px;
		box-sizing: border-box;
		box-shadow: 1px 1px 10px #F4F4F4;
		position: relative;
		margin: 10px 0;
	}

	.msgtopright {
		position: absolute;
		top: 5px;
		right: 5px;
		display: inline-block;
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		font-size: 10px;
		color: #FFFFFF;
		background: #0CAAF0;
		border-radius: 50%;
	}

	.msg_header {
		width: 100%;
		padding: 15px 0px;
		box-sizing: border-box;
		border-bottom: solid #F2F2F2 1px;
		margin-bottom: 5px;

	}

	.msg_text {
		width: 100%;
		padding: 8px 0;
	}

	.names {
		color: #1E1E1E;
		letter-spacing: 4px;
		margin-right: 10px;
	}

	.namemain {
		color: #989898;
		letter-spacing: 3px;

	}